.search-form {
	background-color: var(--bg-element);
	display: grid;
	grid-template-columns: 2.4rem 1fr auto;
	padding: 0.65rem 0.7rem 0.75rem 1.6rem;
	border-radius: 1.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.6rem;

	@media screen and (min-width: 48em) {
		padding: 0.95rem 1rem 0.95rem 3.2rem;
		margin-bottom: 2.4rem;
	}

	&.error-wrapper {
		grid-template-columns: 2.4rem 1fr auto auto;

		p {
			align-self: center;
			margin-right: 1.6rem;
			font-size: 1.3rem;
			font-weight: 700;
			color: var(--error);

			@media screen and (min-width: 48em) {
				font-size: 1.5rem;
				margin-right: 2.4rem;
			}
		}
	}

	svg {
		align-self: center;
	}

	input {
		border: none;
		outline: none;
		font-size: 1.3rem;
		margin-right: 0.7rem;
		margin-left: 0.5rem;
		align-self: center;
		color: var(--title-color);
		caret-color: var(--blue);
		background-color: transparent;

		@media screen and (min-width: 48em) {
			font-size: 1.8rem;
			margin-left: 2.4rem;
		}

		&::placeholder {
			color: var(--text-color);
		}
	}
}

.mobile-error-msg {
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--error);
	margin-top: -0.8rem;
	margin-bottom: 1.6rem;
	margin-left: 1.6rem;

	@media screen and (min-width: 48em) {
		font-size: 1.5rem;
		margin-right: 2.4rem;
	}
}
